// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_line_even {
  background: #e0f8f8;
}

.list_line_odd {
  background: #0a0;
}

.list_image {
  width: 60px;
}

.show_image {
  width: 240px;
}

h1 {
	background-color: #553355;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	color: white;
}

.bottomCenter {
	border-radius: 10px;
	background: gray;
	color: white;
	text-align: center;
	width: 100%;
	padding: 10px;
}

#img_info {
	border-radius: 10px;
	background: #999;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;	
}

#img_actions {
	border-radius: 10px;
	background: gray;
	color: white;
	text-align: center;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

#show_exif_table {
	border-radius: 10px;
	background: gray;
	color: black;
	text-align: left;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;	
}

#show_exif_table table {
	margin: 0 auto;
}