<% if notice %>
	<p id="notice"> <%= notice %> </p>
<%end %>

<div id="tags_list">
		<ul id="single">
			<% @exif_data.each do |exif_data| %>
		      		<li><% @str = exif_data.tag + ":" + exif_data.value %>	
		      			<%= link_to @str, filter_url(:hash_filter => exif_data.q.to_s) %>
		      		</li>
			<% end %>
		</ul>
	<div class="both"></div>
</div>