{% extends "base.html" %}
{% block content %}

<h1>Editing EXIF Datum</h1>

{% if error %}
  <div id="error_explanation"><p>{{ error }}</p></div>
{% endif %}

<form method="post" action="/exif_data/{{ exif_datum.id }}">
  <div class="field">
    <label>Image ID</label><br />
    <input type="number" name="image_id" value="{{ exif_datum.image_id }}" />
  </div>
  <div class="field">
    <label>Tag</label><br />
    <input type="text" name="tag" value="{{ exif_datum.tag }}" />
  </div>
  <div class="field">
    <label>Value</label><br />
    <input type="text" name="value" value="{{ exif_datum.value }}" />
  </div>
  <div class="actions">
    <input type="submit" value="Update ExifDatum" />
  </div>
</form>

<a href="/exif_data/{{ exif_datum.id }}">Show</a> |
<a href="/exif_data">Back</a>

{% endblock content %}
