<% if notice %>
	<p id="notice"> <%= notice %> </p>
<%end %>

<div id="top_block">
	<ul id="quad">
		<% @images.each do |image|%>
	    	<li><%= link_to image_tag(asset_path('thumbnails/'+image.location), class: 'browse_top_block_image'), image %></li>
		<% end %>
	</ul>
</div>

<div id="tags_list">
	<ul id="quad">
		<% @exif.each do |exif_data| %>
			<% if exif_data.tag != "date_time_digitized" && exif_data.tag != "user_comment" && exif_data.tag != "date_time_original" && exif_data.tag != "date_time" && exif_data.tag != "subject_area" %>
	      		<li><% @str = exif_data.tag + ":" + exif_data.value + " (" + exif_data.count.to_s + ")" %>	
	      			<%= link_to @str, "/filter/"+exif_data.q.to_s %>		
	      		</li>
	    	<% end %>
		<% end %>
	</ul>
	<div class="both"></div>
</div>
	