<% if notice %>
	<p id="notice"> <%= notice %> </p>
<%end %>

<div id="top_block">
	<ul id="quad">
		<% @images.each do |image|%>
	    	<li><%= link_to image_tag(asset_path('thumbnails/'+image.location), class: 'browse_top_block_image'), image %></li>
		<% end %>
	</ul>
</div>
