{% extends "base.html" %}
{% block content %}

<h1>Editing Image</h1>

{% if errors %}
<div id="error_explanation">
  <h2>{{ errors|length }} error(s) prevented this image from being saved:</h2>
  <ul>
    {% for msg in errors %}
      <li>{{ msg }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form method="post" action="/images/{{ image.id }}/update">
  <div class="field">
    <label for="location">Location</label><br>
    <input type="text" id="location" name="location" value="{{ image.location or '' }}">
  </div>
  <div class="field">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" value="{{ image.name or '' }}">
  </div>
  <div class="actions">
    <input type="submit" value="Update Image">
  </div>
</form>

<a href="/images/{{ image.id }}">Show</a> |
<a href="/images">Back</a>

{% endblock %}
