// Place all the styles related to the EXIFData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.exif_data_top {
	background: #022855;
}

.exif_table {
	background: #022855;
	padding: 10px;
	width: 100%;
	color: #306FBA;
	margin-bottom: 10px;
	border-radius: 10px;
}