// Place all the styles related to the EXIFData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.exif_data_top {
	background: #022855;
}

.exif_table {
	
	padding: 10px;
	width: 100%;
	color: white;
	margin-bottom: 10px;
	border-top: 1px gray solid;
	border-bottom: 1px gray solid;
}

.exif_table a {
	color: gray;
}

.exif_table table tr td {
	padding: 5px;
}