// Place all the styles related to the filters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hash_data_top {
  padding: 5px;
  font-size: medium;
  font-weight: bold;
  background: #4D3366;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
}
