// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_line_even {
  background: #e0f8f8;
}

.list_line_odd {
  background: #0a0;
}

.list_image {
  width: 60px;
}

.show_image {
  width: 240px;
}