<h1>All Images</h1>

<div id="top_block">
	<ul id="quad">
		<% @images.each do |image|%>
	    	<li><%= link_to image_tag(asset_path('thumbnails/'+image.location), class: 'browse_top_block_image'), image %></li>
		<% end %>
	</ul>
</div>

<div class="bottomCenter"><%= link_to 'New Image', new_image_path %></div>